@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@300;400;600;700&family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  @apply text-white;
  background-color: black;  /* Removed quotes around black */
}

